.form {
  display: flex;
  flex-direction: column;
  width: 300px;
  /* Controle do tamanho do formulário */
  margin-top: 10px;
  /* Espaçamento superior */
}

.button {
  padding: 10px;
  font-size: 1rem;
  color: #fff;
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: var(--secondary-color);
}

.linkContainer {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin-top: 15px;
}

.linkButton {
  background: none;
  border: none;
  color: var(--primary-color);
  font-size: 0.9rem;
  text-decoration: underline;
  cursor: pointer;
}

.linkButton:hover {
  color: var(--secondary-color);
}
